<ul class="nav navbar-nav time" style="float:none;">
	<li class="dot active">
		<a href="#" data-toggle="time" ><span>2017-1-1</span></a>
	</li>
	<li class="line"><img src="img/home/tl.png"></li>
	<li class="dot">
		<a href="#" data-toggle="time" ><span>2017-1-2</span></a>
	</li>
	<li class="line"><img src="img/home/tl.png"></li>
	<li class="dot">
		<a href="#" data-toggle="time" ><span>2017-1-3</span></a>
	</li>
	<li class="line"><img src="img/home/tl.png"></li>
	<li class="dot">
		<a href="#" data-toggle="time" ><span>2017-1-4</span></a>
	</li>
	<li class="line"><img src="img/home/tl.png"></li>
	<li class="dot">
		<a href="#" data-toggle="time" ><span>2017-1-6</span></a>
	</li>
</ul>