<div class="home-intro">
	<div class="col-md-3">
		<img src="img/company/c1.png">
		<p class='title'>关于天天易<br/>由新浙互联网金融倾力打造</p>
		<p class='detail'>
			天天易是新浙互联网金融服务<br />
			(杭州)有限公司倾力打造的互联<br />
			网金融超市平台
		</p>
	</div>
	<div class="col-md-3">
		<img src="img/company/c2.png">
		<p class="title">投资安全<br/>依据银行安全级别</p>
		<p class="detail">
			平台面向投资者提供安全透明<br/>
			的信贷中介服务。在制度建设、风<br/>
			控模式、流程管理等均依据最严格<br/>
			的银行安全级别，所有金融产品都<br/>
			经各领域的顶尖金融专家甄选把关<br/>
			，为客户财富收益保驾护航。
		</p>
	</div>
	<div class="col-md-3">
		<img src="img/company/c3.png">
		<p class="title">资金安全<br/>资金第三方托管可靠严格</p>
		<p class="detail">
			所有资金划转、投资交易都与<br />
			合格正规金融机构合作，为客户资<br />
			金提供历史上最为可靠和严格的保<br />
			障；启动风险备付金机制，建立起<br />
			健全、及时的资金披露制度，将资<br />
			金账户的变动第一时间告知客户，<br />
			保证每位客户及时了解其资金安全<br />
			特性。
		</p>
	</div>
	<div class="col-md-3">
		<img src="img/company/c4.png">
		<p class="title">全方位立体安全防护<br/>先进技术保障用户隐私</p>
		<p class="detail">
			设立了多重防火墙隔离机制和<br />
			完备的应急响应方案，保障平<br />
			台内部网络及系统安全，平台<br />
			采用了包括高位数非对称密钥<br />
			加密算法在内的多种算法对数<br />
			据进行加密保护，除了技术手<br />
			段，天天易对系统硬件、软件<br />
			及数据进行定期巡检，保障系<br />
			统连续、稳定运行。
		</p>
	</div>
</div>