<div>
  <ul class="nav nav-tabs nav-justified">
    <li><a data-toggle="tab" href="#home">股权通融</a></li>
    <li class="active"><a data-toggle="tab" href="#menu1">票袋融通</a></li>
    <li><a data-toggle="tab" href="#menu2">私募基金</a></li>
  </ul>

  <div class="tab-content nav-justified home-tabs">
    <div id="home" class="tab-pane fade blank-tag">
    </div>
    <div id="menu1" class="tab-pane fade in active">
        <div>
            <div>天天易实收宝065</div>
            <div>
                <p>理财期限:<span>96</span>日</p>
                <p><span>5.5</span>%年化收益率</p>
                <p>剩余投资金额:<span>0</span></p>
                <p>总金额：<span>200000</span>元</p>
            </div>
        </div>
    </div>
    <div id="menu2" class="tab-pane fade blank-tag">
    </div>
  </div>
</div>