<div class="home-coop">
	<p class="title">媒体合作</p>
	<p class="detail">MEDIA COOPERATION</p>
	<div class="coop-list row">
		<div class="col-md-2">
			<img src="img/coop/1.png" style="width:100%;">
		</div>
		<div class="col-md-2">
			<img src="img/coop/2.png" style="width:100%;">
		</div>
		<div class="col-md-2">
			<img src="img/coop/3.png" style="width:100%;">
		</div>
		<div class="col-md-2">
			<img src="img/coop/4.png" style="width:100%;">
		</div>
		<div class="col-md-2">
			<img src="img/coop/5.png" style="width:100%;">
		</div>
		<div class="col-md-2">
			<img src="img/coop/6.jpg" style="width:100%;">
		</div>
	</div>
</div>