<div class="news">
	<p class="title">新闻动态</p>
	<p class="detail">NEWS INFOMATION</p>
	<div class="news-c">
		{{> home.news.time}}
	</div>
	<div class="row news-d">
		<div class="col-md-4 news-image"></div>
		<div class="col-md-4 news-detail">
			<ul>
				<li>
					<div class="date">
						<div class="title">22</div>
						<div class="sub-title">Jan</div>
					</div>
					<div class="content">
						<div class="title">关于春节放假安排通知</div>
						<div class="sub-content">根据《国务院办公厅关于2017年部分节假日安排的通知》，天天易将春节放假安排通知如下1.春节放假时间：2017年1月27日至2月2日；2.客服值班时间：上午9:00—下午18:00；3.春节期间的提现安排</div>
					</div>
				</li>
				<li>
					<div class="date">
						<div class="title">22</div>
						<div class="sub-title">Jan</div>
					</div>
					<div class="content">
						<div class="title">关于春节放假安排通知</div>
						<div class="sub-content">根据《国务院办公厅关于2017年部分节假日安排的通知》，天天易将春节放假安排通知如下1.春节放假时间：2017年1月27日至2月2日；2.客服值班时间：上午9:00—下午18:00；3.春节期间的提现安排</div>
					</div>
				</li>
				<li>
					<div class="date">
						<div class="title">22</div>
						<div class="sub-title">Jan</div>
					</div>
					<div class="content">
						<div class="title">关于春节放假安排通知</div>
						<div class="sub-content">根据《国务院办公厅关于2017年部分节假日安排的通知》，天天易将春节放假安排通知如下1.春节放假时间：2017年1月27日至2月2日；2.客服值班时间：上午9:00—下午18:00；3.春节期间的提现安排</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
		  <div class="panel-group" id="accordion">
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">新起点 新征程 新跨越 ——</a>
		        </h4>
		      </div>
		      <div id="collapse1" class="panel-collapse collapse in">
		        <div class="panel-body">集团始于2006年，至今已经在上海、杭州、合肥、北京、深圳、武汉、重庆、青岛、大连、呼和浩特、西安、兰州、香港等国内重点城市设立了20余家分公司以及办事处。 十年来，新浙集团扎根...</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">票据平台的提现的亲身感受</a>
		        </h4>
		      </div>
		      <div id="collapse2" class="panel-collapse collapse">
		        <div class="panel-body">作为投友，最关心的莫非是年化收益率、资金的安全性以及提现到账时间。那么今天小编就说一下各个平台的提现到账时间吧，仅供参考。</div>
		      </div>
		    </div>
		    <div class="panel panel-default">
		      <div class="panel-heading">
		        <h4 class="panel-title">
		          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">东郭谈风投融资那些事儿</a>
		        </h4>
		      </div>
		      <div id="collapse3" class="panel-collapse collapse">
		        <div class="panel-body">东郭一个喜欢混迹于互联网金融领域的法律人，他的心愿就是让所有文明、独立、理性的投资人永不踩雷。</div>
		      </div>
		    </div>
		  </div> 
		</div>
	</div>
</div>