<div class="project-intro">
	<div class="nav-bg">
		<ul class="nav nav-pills nav-justified">
		  <li>
		  	<a data-toggle="pill" href="#home">
		  		<img src="/img/home/type3.png">
		  		<span>股权融通</span>
		  		<span>(股权质押产品)</span>
		  	</a>
		  	
		  	<div class="tab-active">
		  		<img src="/img/home/type3.png">
		  		<span>股权融通</span>
		  		<span>(股权质押产品)</span>
		  	</div>
		  </li>
		  <li class="active">
		  	<a data-toggle="pill" href="#menu1">
		  		<img src="/img/home/type1.png">
		  		<span>票贷融通</span>
		  		<span>(银行承兑汇票)</span>
		  	</a>

		  	<div class="tab-active">
		  		<img src="/img/home/type1.png">
		  		<span>票贷融通</span>
		  		<span>(银行承兑汇票)</span>
		  	</div>
		  	
		  </li>
		  <li>
		  	<a data-toggle="pill" href="#menu2">
		  		<img src="/img/home/type2.png">
		  		<span>私募基金</span>
		  		<span>(定向增发投资)</span>
		  	</a>

		  	<div class="tab-active">
		  		<img src="/img/home/type2.png">
		  		<span>私募基金</span>
		  		<span>(定向增发投资)</span>
		  	</div>
		  	
		  </li>
		</ul>
	</div>
	<div class="tab-content">
	  <div id="home" class="tab-pane fade">
	  		<img src="/img/home/waitandsee3.png" style="margin: auto">
	  </div>
	  <div id="menu1" class="tab-pane fade in active">
	  		<div class='menu-item'>
	  			<h4>天天易实收宝064</h4>
	  			<p>理财期限:<span>75<span>日</p>
	  			<p><span>5.5</span>%年化收益率<p>
	  			<p>剩余投资金额:0</p>
	  			<div class="progress">
				  	<div class="progress-bar" role="progressbar" aria-valuenow="70"
				 	 aria-valuemin="0" aria-valuemax="100" style="width:70%">
				    	<span class="sr-only">70% Complete</span>
  					</div>
				</div>
				<p>总金额:<span>500000元</span></p>
				<p><img src="/img/home/little-shield.jpg">启用风险备付机制</p>
	  		</div>
	  </div>
	  <div id="menu2" class="tab-pane fade">
	  		<img src="/img/home/waitandsee3.png">
	  </div>
	</div>
</div>