<!DOCTYPE html>
<html>
<head>
	<title>天天易理财官网——安全、透明的投融资理财平台</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{!三方库样式}}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{{!自定义样式}}
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
	{{!三方lib}}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
	<div class="wrapper">
		<header>
			<div class='header-top'>
				<div class='container'>
					<div class='navbar-header'>
						欢迎来到天天易，投资有风险，选择需谨慎
					</div>
					<ul class="nav navbar-right navbar-nav">
						<li><a href="#">会员登陆</a><i class="nav-segment-line">|</i></li>
						<li><a href="#">免费注册</a><i class="nav-segment-line">|</i></li>
						<li>
							<a class="dropdown nav-mobile">
								<i class='fa fa-mobile mobile-icon'></i>
								<label>手机天天易</label>
								<div class="dropdown-menu">
									<div style="float:left;text-align:center;">
										<img src="img/android-154.jpg" alt="天天易android二维码">
										<p>Android App</p>
									</div>
									<div style="float:right;text-align:center;">
										<img src="img/ios-154.jpg" alt="天天易ios二维码">
										<p>ios App</p>
									</div>
								</div>
							</a>
							<a href="http://weibo.com/u/5755857789" target="_blank"><i class='fa fa-weibo nav-weibo'></i></a>
							<a class="dropdown">
								<i class='fa fa-weixin nav-weixin'></i>
								<div class="dropdown-menu">
										<div style="float:left;text-align:center;">
											<img src="img/fuwuhao.jpg" alt="天天易微信服务号二维码" style="width:154px;" />
											<p>服务号</p>
										</div>
										<div style="float:right;text-align:center;">
											<img src="img/dingyuehao.jpg" alt="天天易微信订阅号二维码" style="width:154px;" />
											<p>订阅号</p>
										</div>
								</div>
							</a>
							<i class="nav-segment-line">|</i>
						</li>
						<li>资讯热线:13601687064</li>
					</ul>
				</div>
			</div>
			{{!导航栏}}
			<nav class="navbar navbar-default">
			  <div class="container">
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>                        
			      </button>
			      <a class="navbar-brand" href="#">
			      </a>
			    </div>
			    <div class="collapse navbar-collapse" id="myNavbar">
			      <ul class="nav navbar-nav navbar-right">
			        <li><a href="#">首页</a></li>
			        <li class ="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">我要理财<span class="caret"></span></a>
                       	<ul class="dropdown-menu">
                            <li><a href="#">票货融通</a></li>
                            <li><a href="#">股权融通</a></li>
                            <li><a href="#">私募基金</a></li>
                            <li><a href="#">普惠金融</a></li>
	                    </ul>
			        </li>
			        <li><a href="#">新手指引</a></li>
			        <li><a href="#">安全保障</a></li>
			        <li><a href="#">我的账户</a></li>
			      </ul>
			    </div>
			  </div>
			</nav>
		</header>
		<main></main>
		<footer class="row">
			<div class="col-md-6 footer-left-container">大型设备左边</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div>
					<a href="#">关于我们</a>
					<span>|</span>
					<a href="#">帮助中心</a>
					<span>|</span>
					<a href="#">安全保障</a>
				</div>
				<div>浙公网安备 33010502001509号</div>
				<div>Copyright © 2016, All Rights Reserved 浙ICP备15035617</div>
				<div>新浙互联网金融服务（杭州）有限公司 客服热线：13601687064 (9:00-18:00)</div>
			</div>
		</footer>
	</div>
</body>
</html>