/*header*/
.header-top-container {
	width: 1000px;
	height: auto;
	margin: auto;

	color: rgb(196,196,196);
}

.warning-message {
	display:inline-block;
	float: left;
}

.header-top-container ul {
	float: right;
}

.header-nav-container {
	clear: both;

	width: 100%;
	background-image: url(/img/header/header-bg.jpg);
}

.header-top-container > .navbar-nav > li{
	margin-right: 15px;
}

.header-top-container > .navbar-nav > li > a {
	padding-left: 0;
	padding-right: 0;
}

.center-block {
	width: 1000px;
	margin:auto;
}

.pull-right {
	float: right;
}

.navbar-nav > li {
	text-align: center;
}

.navbar-nav > li > a  {
	padding-top: 0;
	padding-bottom: 0;

	color:black;
}

.navbar-nav > li > a > p {
	margin-bottom: 0;
}

.navbar-nav > li > img {
	visibility: hidden;
}

.header-nav-container > .navbar-nav > li > a:hover {
	background-color: transparent;
	color: #ae7340;
}

.header-nav-container > .navbar-nav > li > a:hover ~img {
	visibility: visible;
}

.dropdown {
	position: relative;
	display: :inline-block
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #a97c40;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 3px 2px;
    z-index: 1;
}

.dropdown-content > li {
	list-style-type: none;
}


.dropdown-content > li:hover{
	background-color: #d8a965
}

.dropdown-content > li> a {
	color: white;
}

.dropdown:hover > .dropdown-content {
	display: block;
}

/*main*/
main {
	clear: both;
}

/*footer*/
.footer-segment-bar {
	width: 100%;
	height: 10px;
	background-color: #a47538;
}

/*footer-intro*/
.footer-intro {
	height: 115px;
	background-image: url(/img/header/header-bg.jpg);
}

/*footer-friend-link*/
.footer-website-link{
	height: 119px;
	background-image: url(/img/footer/footer-bg.jpg);
}

.friend-link > ul > li > a {
	color: white;
}
/*footer-police-recoder*/
.footer-police-recoder-container {
	text-align: center;
	height: 62px;
	padding-top: 25px;
}


