<!DOCTYPE html>
<html>
<head>
	<title>天天易理财官网——安全、透明的投融资理财平台</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
	<header>
		<div class="header-top-container">
			<p class="warning-message">欢迎来到天天易，投资有风险，选择需谨慎</p>
			<ul class="nav navbar-nav">
				<li>
					<i class="fa fa-user"></i><a href="#" style="display: inline;">登录</a>
					/<a href="#" style="display: inline;">注册</a>
				</li>
				<li>
					<i class="fa fa-mobile">APP下载</i>
					<i class="fa fa-android"></i>
					<i class="fa fa-apple"></i>
				</li>
				<li>
					<i class="fa fa-phone">13601687064</i>
				</li>
			</ul>
		</div>

		<div class = "header-nav-container">
			<div class="center-block">
				<img class="logo" src="/img/header/logo.png">
				{{! 导航栏 }}
				<ul class="nav navbar-nav pull-right">
					<li>
						<a>首页<p>HOME</p></a>
						<img alt='导航悬浮图片' src="/img/header/header-nav-active.jpg">
					</li>
					<li class ="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" >我要理财<p>FINANCIAL</p></a>
						<img alt='导航悬浮图片' src="/img/header/header-nav-active.jpg">
						<ul class="dropdown-content">
							<li><a href="#">票货融通</a></li>
							<li><a href="#">股权融通</a></li>
							<li><a href="#">私募基金</a></li>
							<li><a href="#">普惠金融</a></li>
						</ul>
					</li>
					<li>
						<a>新手引导<p>GUIDELINES</p></a>
						<img alt='导航悬浮图片' src="/img/header/header-nav-active.jpg">
					</li>
					<li>
						<a>安全保障<p>SECURITY</p></a>
						<img alt='导航悬浮图片' src="/img/header/header-nav-active.jpg">
					</li>
					<li>
						<a>新手引导<p>ACCOUNT</p></a>
						<img alt='导航悬浮图片' src="/img/header/header-nav-active.jpg">
					</li>
				</ul>
			</div> 
		</div>
	</header>
	<main>
		{{{body}}}
	</main>
	<footer>
		<div class="footer-segment-bar"></div>
		<div class="footer-intro">
			<ul>
				<li></li>
				<li></li>
				
			</ul>
		</div>
		<div class="footer-website-link">
			<div class="friend-link">
				<span style="float: left;">友情链接:</span>
				<ul class="nav navbar-nav">
					<li><a href="http://www.htbill.com/" target="_blank">票据咨询</a></li>
					<li><a href="https://www.duozhuan.cn/" target="_blank">多赚</a></li>
					<li><a href="http://www.p2peye.com/" target="_blank">网贷天眼</a></li>
					<li><a href="http://www.wdzj.com/" target="_blank">网贷之家</a></li>
					<li><a href="http://www.yuncaijing.com/" target="_blank">云财经</a></li>
					<li><a href="http://www.wukongshuo.com/" target="_blank">悟空说财经</a></li>
					<li><a href="http://www.zgpj.net/" target="_blank">中国票据网</a></li>
					<li><a href="http://www.rong360.com/" target="_blank">融360</a></li>
					<li><a href="http://www.zt5.com/lc/" target="_blank">理财小知识</a></li>
					<li><a href="http://www.asiafinance.cn/" target="_blank">亚洲财经</a></li>
				</ul>
			</div>
			<div class="award-show">
				
			</div>
		</div>
		<div class="footer-police-recoder-container">
				<img src="/img/footer/police.png">
				<span>浙公网安备 33010502001509号</span>
		</div>
	</footer>
	{{! 引入客户端脚本 }}
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
</body>
</html>