$news-d-li-height:230px / 4;
$date-big-height:230px / 4 * 0.7;
$date-samll-height:230px / 4 *0.3;
$news-content-title:230px / 4 * 0.4;
$news-content-detail:230px / 4 * 0.6;

.news {
	height: 350px;
	text-align: center;

	.title {
		font-size: 1.6em;
		color: $gold;
	}

	.detail {
		color: $gold;
	}

	.news-c {
		min-width: 65%;
		max-width: 85%;
		margin: auto;
		margin-bottom: 50px;
	}

	.news-d {
		height: 230px;	
	}

	.news-image {
		height: 100%;
		background-image: url('/img/home/newsHome.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.news-detail {
		height: 100%;
		ul {
			list-style-type: none;
			li {
				height: $news-d-li-height;
				color:black;
			}
		}
		.date {
			float: left;
			height: $news-d-li-height;
			width:15%;
			border-right: solid 1px grey;
			.title{
				font-size: 3.5em;
				line-height: $date-big-height;
			}

			.sub-title {
				font-size: 0.5em;
				line-height: $date-samll-height;
			}
		}


		.content {
			float: right;
			height: $news-d-li-height;
			width:85%;
			text-align: left;
			padding-left: 5px;
			.title {
				font-size: 1.2em;
				color: black;
				line-height: $news-content-title;
			}
			.sub-content {
				font-size: 0.7em;
				height: $news-content-detail;
				text-overflow:ellipsis;
				overflow: hidden;
			}
		}
	}

	.panel-group {
		.panel-body{
			font-size: 10px;
			text-align: left;
		}
	}

}


.time {
	li.line {
		line-height: 12px;
	}

	li {
		a:hover {
			background-color: transparent;
			text-decoration: none;
		}

		a:active {
			background-color: transparent;
			text-decoration: none;
		}

		a:link {
			background-color: transparent;
			text-decoration: none;
		}
	}

	li.dot {
		background-image: url('/img/home/tld.jpg');
		background-repeat: no-repeat;
		background-size: contain;
		width:12px;
		height: 12px;
	}

	li.dot a {
		height: 100%;
		width: 100%;
		position: relative;
		span {	
			position: absolute;
			transform:translate(-50%,50%);
			width: 80px;
			display: none;
		}
	}

	li.active {
		background-image: url('/img/home/tlda.png');
		background-repeat: no-repeat;
		background-size: contain;
		width:12px;
		height: 12px;

		a > span {
			display: block;
		}
	}
}