.blank-tag {
	width: 100%;
	height: 100%;
	background-image: url('/img/home/waitandsee3.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.home-tabs {
	background-color: $tabs-bg;
	height: 469px;
}